@import "tailwindcss";

html,
body {
  background-color: #e5e7f0;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #cdd1d9;
}

::-webkit-scrollbar-thumb {
  background: #ccced1;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}